[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/plibrary
[access "refs/for/refs/*"]
	read = group user/plibrary
	push = group user/plibrary
	label-Code-Review = -2..+2 group user/plibrary
	label-Verified = -1..+1 group user/plibrary
	rebase = group user/plibrary
	removeReviewer = group user/plibrary
	submit = group user/plibrary
[access "refs/heads/*"]
	read = group user/plibrary
	create = group user/plibrary
	push = +force group user/plibrary
	pushMerge = group user/plibrary
[access "refs/tags/*"]
	push = +force group user/plibrary
	pushTag = group user/plibrary
	pushSignedTag = group user/plibrary
